.inverse {
  background-color: pink;
  color: pink;
}
.container {
 height: 1320px;
  width: 110%;
  margin: auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.time-score { 
  
  display: flex;}

.league-News {
  width: 30%;
  margin-right: 900px;
}

.Results {
  width: 1500px;
  height: 78vh;
margin-left: 80px;

  display: flex;

  flex-direction: column;
  background-image: url('images/cool-background\ \(2\).png');
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}


::-webkit-scrollbar {
  width: 20px;
  max-height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  height: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  height: 20px;
}
.Results2 h4 {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.fixtures-info{
  width: 1500px;
  background-image: url('images/cool-background\ \(2\).png');
  height: 50px;
  margin-left: 0;
  display: flex;
  margin-top: 0px;
  border-radius: 10px 10px 0px 0px; 
  opacity: 0;
}
.fixtures-info h3{
  position: absolute; 
 font-size: 20px;
  margin-top: 10px;
  color: white;
font-weight: 400;
}
.fixtures-info-Position{
margin-left: 10px;
}
.fixtures-info-Club{
 margin-left: 320px;
}
.fixtures-info-Played{
 margin-left: 865px;
 }

 .fixtures-info-Won{
  margin-left: 1020px;
 }
 .fixtures-info-Drawn{
 margin-left: 1143px;
 }
 .fixtures-info-Lost{
 margin-left: 1290px;
 }
 .fixtures-info-GD{
  margin-left: 1420px;
 }

 .fixtures-info-Points{
 margin-left: 1541px;
 }

 .upcoming-fixtures-info{
  width: 1500px;
  background-image: url('images/cool-background\ \(2\).png');
  height: 0px;
  margin-left: 0;
  display: flex;
  margin-top: 0px;
  border-radius: 10px 10px 0px 0px; 
  opacity: 0;
}
.upcoming-fixtures-info h3{
  position: absolute; 
 font-size: 25px;
 margin-top: -38px;
 color: white;
font-weight: 400;

}
.upcoming-fixtures-home {
  margin-left: 662px;
}
.upcoming-fixtures-date {
  margin-left: 443px;
}
.upcoming-fixtures-away {
  margin-left: 90px;
}
.upcoming-fixtures-venue{
  margin-left:1190px;
}

.recent-fixtures-info{
  display: flex;
  opacity: 0;
}

.recent-fixtures-info h3{
  position: absolute; 
  font-size: 25px;
   margin-top: -38px;
   color: white;
 font-weight: 400;
}
.recent-fixtures-home-index {
  margin-left: 122px;
}
.recent-fixtures-score-index {
  margin-left: 343px;
}
.recent-fixtures-away-index {
  margin-left: 522px;
}
.recent-fixtures-venue-index {
  margin-left: 890px;
}
.fixtures {
  width: 1830px;
  height:100%;

margin-top: 20px;
  margin-left: 2.9%;
  display: flex;
  color: #fff;
  flex-direction: column;
background-image: url('images/cool-background\ \(2\).png');
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.News {
  width: 320px;
  height: 826px;

  padding-top: 0px;
  margin-left: 2%;
  display: flex;

  flex-direction: column;
  background-color: rgb(206, 103, 12);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.Li-styling {
margin-top: 38px;
  font-size: 25px;
  justify-content: space-between;
  margin-left: 60px;
  display: flex;

  background-color: var(--darkest);

  border-radius: 1rem;
  /* margin-bottom: 1rem; */
}
img {
  width: 3%;
  height: 3%;
}
.Standings-list{
  padding-top: 0px;
  padding-bottom: 30px;
}
.Standings-list span {
  font-size: 25px;
  display: flex;

 margin-right: 0px;
  font-weight: 600;

}

.aligned {
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  height: 30px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}
.aligned span {
  padding: 40px;
}


.Line-standings {
  width: 100%;
  color: aliceblue;
  padding: 20px;
}
.standings-list-team-name{
  position: absolute;
  margin-left: 20px;
  font-weight:700;
  font-size: 28px;
}

.align-news {
  display: flex;
}
.align-news span {
  margin-top: 20px;
  margin-left: 10px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.align-news img {
  height: auto;
  width: 105px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
.align-news p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 10px;
}
.date-author p {
  font-size: 20px;
  margin-bottom: 200px;
}

/*/////////// Nav Bar Styling ///////////*/

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 93px;
  background: #11101d;
  padding: 6px 14px;
  /* z-index: 99; */
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 350px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;

  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 25px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 43px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: center;

}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
}
.sidebar.open .nav-list{
  margin-top: 20px;
  height: 100%;
  width: 100%;
}
.sidebar .nav-list {

  width: 55px;
  
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
right: 20px;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li .Placeholder {
  opacity: 0;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar.open .Placeholder {
  opacity: 1;
  margin-left: 30px;
  width: 95%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  margin-left: 7px;
  text-align: center;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li strong {
  opacity: 0;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar.open strong {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  /* color: #11101d; */
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  margin-left: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 93px;
  left: 0;
  text-align: center;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 350px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 110px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  margin-right: 5px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
.accordion {
  width: 140%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  width: 122.5%;

  border: none;
  outline: none;
  border-bottom: 1px solid #54a0ff;
  color: white;
  background-color: #11101d;
  cursor: pointer;
}
.accordion-header strong {
  font-size: 22px;
  font-weight: 550;
  margin-top: 10px;
  margin-left: 10px;
}

.accordion-header.active {
  background-color: black;
  color: white;
}

.accordion-header.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.accordion-body {
  width: 74.5%;
  padding: 0 1rem;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.accordion-body h6 {
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.accordion-body.active {
  max-height: 10rem;
  padding: 1rem;
  width: 104.5%;
}
.star {
  margin-top: -69px;

position: absolute;  
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}
.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2606";
  position: absolute;
}

#rectangle {
  width: 100px;
  height: 50px;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 30px;
display: flex;
  position: absolute;
  left: 390px;
}
#rectangle h5 {
  margin: auto;
  margin-top: 10px;
}
.fixture-location {
  padding-left: 300px;
  position: absolute;
  left: 700px;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
}

.league-standings{
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: apples;
}
.Standings-list::before{
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  content: counter(apples);
  counter-increment: apples;
  font-family: sans-serif;
  color: pink;
  font-weight: bold;
  font-size: 38px;
}
.Standings-list p {
  position: absolute;
  left: 470px;
}

.home-team {
padding-right: 0px;

}
.home-logo {
  position: absolute;
  left: 330px;
  height: auto;
    width: 42.5px;
}

.nav span{
  display: flex;
margin-left: 420px;
margin-top: 10px;
font-size: 30px;
cursor: pointer;
}
.nav span p {
  padding-left: 20px;
}
.score-winner{
background-color: crimson;


}
  .inverse {
    background-color: pink;
    color: pink;
  }

  
  .notebook {
    width: 4500px;
    height: 100%;
  margin-left: 30px;
    padding-top: 20px;
display: none;
    display: flex;
    gap: 10px;

    flex-direction: column;
    background-color: white;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
  }
  
  .save-label {
    display: inline-block;
    position: relative;
  }
  
  .save-checkbox {
    display: none;
  }
  
  .save-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url('path/to/heart-icon.png'); /* Replace with your heart icon image */
    background-size: cover;
    cursor: pointer;
  }
  
  .save-checkbox:checked + .save-button {
    background-image: url('path/to/heart-icon-orange.png'); /* Replace with your orange heart icon image */
  }
  
 
  .saved-Games{
  margin-top: 10px;
    width: 1200px;
    height: 120%;
  margin-left: 60px;
  display: none;
   
  
    flex-direction: column;
    background-image: url('images/cool-background\ \(2\).png');
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
  }

[id="heart"] {
  position: absolute;
  left: -100vw;
  
}

[for="heart"] {
  color: #aab8c2;
  cursor: pointer;
  position: relative;
  font-size: 30px;
bottom: 35px;
left: 10px;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
  color: grey;
}

[for="heart"]::selection {
  color: none;
  background: transparent;
}

[for="heart"]::moz-selection {
  color: none;
  background: transparent;
}

[id="heart"]:checked + label {
  color: orange;
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {0%, 17.5% {font-size: 0;}}

  .Results2 {
  

    background-color: transparent;
   border-radius:19px;
    margin-left: 69%;
    display: flex;
    position: absolute;
  
    flex-direction: column;

    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);

  }
  
  ::-webkit-scrollbar {
    width: 20px;
    max-height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    height: 20px;
  }

 
  
  .News {
    width: 320px;
    height: 826px;
  
    padding-top: 0px;
    margin-left: 2%;
    display: flex;
  
    flex-direction: column;
    background-color: rgb(206, 103, 12);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
  }
  
  .Li-styling {
    font-size: 25px;
    justify-content: space-between;
    margin-left: 60px;
    display: flex;
  
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  .Li-styling img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-left: 120px;

  }
  img {
    width: 3%;
    height: 3%;
  }
  
  .Standings-list span {
    top: 0;
    margin-top: 0px;
    font-size: 25px;
    display: flex;
    margin-left: 70px;
    margin-right: 0px;
    font-weight: 600;
  
  }
  .goal-standings{
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
  }
  .goal-standings h2{
font-size: 24px;

  }
  /* .goal-standings p{
    margin-left: 40px;
    position: absolute;

  } */
  .goal-standings-team{
    position: absolute;
    margin-left: 370px;
    color: #fff;
    font-size: 20px;
  }
  .goal-standings-country{
    position: absolute;
    margin-left: 629px;
    color: #fff;
    font-size: 20px;

  }
  .Goal-standings-team-logo {
    position: absolute;
    margin-left: 320px;
    width: 40px;
    height: auto;
    margin-top: -10px;
    
  

  }
.Goal-standings-country-logo{
  position: absolute;
  left: 10px;
  right: 0px;
  width: 40px;
  height: auto;
  top: 63px;
  bottom: 0px;

}

.goal-standings-goals{
  position: absolute;
  left: 1426px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.goal-standings-position {
  position: absolute;
  left: 1040px;
  font-size: 27px;
  font-weight: 500;
  color: #fff;
}
 


  .aligned {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
  
    cursor: pointer;
  
    height: 20px;
    margin-bottom: 18px;
    padding: 5px 10px;
    display: flex;
  }
  .aligned span {
    padding: 40px;
  }
  .games-played {
    position: absolute;
    margin-left: 460px;
  right: 0;
  left: 0;
  font-weight:550;
  }
  .games-Winned{
     position: absolute;
    margin-left: 610px;
  right: 0;
  left: 0;
  font-weight:550;
  }
  .games-Tie {
    position: absolute;
    margin-left: 746px;
  right: 0;
  left: 0;
  font-weight:550;
  }
  .games-Loosed{
    position: absolute;
    margin-left: 885px;
  right: 0;
  left: 0;
  font-weight:550;
  }
  .games-Gd {
    position: absolute;
    margin-left: 1006px;
  right: 0;
  left: 0;
  font-weight:550;
  }
  .games-Points {
    position: absolute;
    margin-left: 1137px;
  right: 0;
  left: 0;
  font-weight:550;
  font-size: 30px;
  }
  .Line-standings {
    width: 100%;
    color: aliceblue;
    padding: 20px;
  }
  
  .align-news {
    display: flex;
  }
  .align-news span {
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .align-news img {
    height: auto;
    width: 105px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
  }
  .align-news p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 10px;
  }
  .date-author p {
    font-size: 20px;
    margin-bottom: 200px;
  }
  
  /*/////////// Nav Bar Styling ///////////*/
  
  /* Google Font Link */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 53px;
    background: #11101d;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open {
    width: 350px;
  }
  .sidebar .logo-details {
    height: 60px;
    display: flex;
 right: 13px;
 
    position: relative;
  }
  .sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name {
    opacity: 1;
  }
  .sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 10;
    left: 0;
    margin-right: 5px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 43px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn {
    text-align: center;
    margin-top: 7px;
    margin-left: 280px;
  }
  .sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
  }
  
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li .Placeholder {
    opacity: 0;
  }
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip {
    display: none;
  }
  .sidebar input {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  .sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar.open .Placeholder {
    opacity: 1;
    margin-left: 30px;
    width: 95%;
  }
  .sidebar .bx-search {
    position: absolute;
    top: 50%;
    margin-left: 7px;
    text-align: center;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #fff;
  }
  
  .sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #fff;
  }
  .sidebar .bx-search:hover {
    background: #fff;
    color: #11101d;
  }
  .sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
  }
  .sidebar li a:hover {
    background: #fff;
  }
  .sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar li strong {
    opacity: 0;
  }
  .sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar.open strong {
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i {
    transition: all 0.5s ease;
    /* color: #11101d; */
  }
  .sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    margin-left: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 53px;
    left: 0;
    text-align: center;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile {
    width: 350px;
  }
  .sidebar li .profile-details {
    display: flex;

    flex-wrap: nowrap;
  }
  .sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job {
    font-size: 12px;
  }
  .sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    margin-right: 5px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  
  .sidebar.open .profile #log_out {
    width: 50px;
    background: none;
  }
  .home-section {
    position: relative;
    background: #e4e9f7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip {
      display: none;
    }
  }
 .accordion {
    width: 140%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    width: 74.5%;
  
    border: none;
    outline: none;
    border-bottom: 1px solid #54a0ff;
    color: white;
    background-color: #11101d;
    cursor: pointer;
  }
  .accordion-header strong {
    font-size: 22px;
    font-weight: 550;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .accordion-header.active {
    background-color: black;
    color: white;
  }
  
  .accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  
  .accordion-body {
    width: 74.5%;
    padding: 0 1rem;
    background-color: #f3f3f3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .accordion-body h6 {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  .accordion-body.active {
    max-height: 10rem;
    padding: 1rem;
    width: 74.5%;
  }
  

  #rectangle {
    width: 100px;
    height: 50px;
  
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 30px;
    display: flex;
    position: absolute;
    left: 390px;
  }
  #rectangle h5 {
    margin: auto;
    margin-top: 10px;
  }
  .fixture-location {
    padding-left: 300px;
    position: absolute;
    left: 700px;
    margin: auto;
    font-size: 22px;
    font-weight: 600;
  }
  .Standings-list p {
    position: absolute;
    left: 470px;
  }
  
  .home-team {
    padding-right: 20px;
  }
  .home-logo {
    position: absolute;
    left: 330px;
    height: auto;
    width: 42.5px;
  }
  .nav {
    width: 1500px;
    margin-top: 40px;
   
    background-image: url('images/cool-background\ \(2\).png');
    height: 60px;
    color: white;
    border-radius: 10px;
    margin-left: 115px;
    display: flex;
  }
  .nav span {
    display: flex;
    font-weight: 600;
    padding-left: 100px;
    margin-left: 145px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .nav span p {
    padding-left: 90px;
  }
  .winner {
    color: red;
  }
  .Search-Results {
    display: flex;
  }
  .recent-upcoming-fixtures {
    width: 390px;
    height: 90%;
    background-color: orange;
    margin-left: 57px;
    top: 0;
    margin-top: 00px;

    border-radius: 20px;
    box-shadow: 10px 10px 24px 0px #00000080;
    position: relative;
  padding-top: 0px;
  }
  .related-news {
    margin-top: 0px;
  
    width: 100%;
    background-color: orange;
    height: 100%;
  }
  .recent-upcoming-fixtures span {
    font-size: 30px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 600;

  }
  .recent-upcoming-fixtures span p {
    margin-left: 240px;
  
    font-weight: 600;
  }
  .Team-stat-side{
    width: 290px;
    height: 98%;
    background-color: orange;
    margin-top: 00px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 24px 0px #00000080;

    margin-left: 1260px;
  }
 
  .search-recent-fixtures-home-team {
top: 0px;
bottom: 0px;
margin-top: 20px;
  }
  .home-logo2 {
    position: absolute;
    left: 90px;
    height: auto;
    width: 42.5px;
    margin-top:5px;
  }
  .away-logo2 {
    position: absolute;
    margin-top: 5px;
    left: 245px;
    
    height: auto;
    width: 42.5px;
  }
  .search-recent-fixtures {
   
    padding: 30px;
    position: relative;
    bottom: 0;
  }
  .Time {
    width: 80px;
    height: 50px;
  
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 30px;
    display: flex;
    position: absolute;
    left: 150px;
  }
  .Time h5 {
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
  }

  .away-logo {
    position: absolute;
    left: 510px;
    height: auto;
    width: 42.5px;
  }
  .header-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(80%);
  }
  .gfg {
    position: relative;
  }
  .gfg2 {
    position: relative;
  }

  .stadium-logo {
    margin-left: 1220px;
    width: 500px;
height: 300px;
  }
  .team-logo{
    position: absolute;
height: auto;
right: 0;
left: 140;
top: 100;
    width: 230px;
  }
  .emblem-background{
    bottom: 20;
  }
  .first-txt {
    position: absolute;
    top:0px;
    left: 190px;
    width: 250px;
  }
  .team-emblem-background{
   position: relative;
    top:50px;
    bottom: 0;
    left: 71px;
    width: 380px;
    height: auto;
  }
 
  .second-txt {
  
    position: absolute;
    bottom: 0px;

  }
  .team-name {
    position: absolute;
    bottom: 210px;
    left: 490px;
    font-size: 50px;
    color: white;
  }
  .league-logo {
    position: absolute;
    left: 490px;
    width: 220px;
  }
  
  .news-body {
    display: flex;
  }
  .news-image-info {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
  }
  .news-img {
    width: 400px;
    height: auto;
  }
  
  .players-grid {
    top: 00px;
    margin-top: 00px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 60px;
    gap: 10px;

    height: 100%;
   

  }
  
  .player-grid {
    padding: 20px;
    font-size: 24px;
   
    height: auto;
  }
  .grid-container {
    top: 0px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 425px;
    gap: 10px;


   
  }
  
  .grid-item {

    margin-top: -550px;

    font-size: 24px;
    text-align: center;
  }
  .grid-item img {
width:360px;
height: auto;
  }
  .player-background-image {
    height: 200px;
    width: 400px;
    object-fit: cover;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
  }
  .player-picture {
    mix-blend-mode: multiply;
  }
  .player-info img {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 150px;
    height: auto;
    mix-blend-mode: darken;
    opacity: 1;
  }
  .squad {
    position: relative;

  }
  .player-number {
    position: absolute;
    top: 40px;
    left: 30px;
    font-weight: 400;
  }
  .player-name {
    position: absolute;
    top: 78px;
    left: 30px;
    font-weight: 800;
    font-size: 22px;
    width: 196px;
    line-height: 24px;
  }
  .player-position {
    position: absolute;
    top: 128px;
    left: 30px;
    font-weight: 400;
    font-size: 20px;
  }
  
  .middle-section{
    background-color: orange;
    background-image: url('images/cool-background\ \(2\).png');
    width: 100%;
    height:100%;
  }
  .team-section{
    padding-top: 20px;
    width: 100%;
    height: 100%;
  
  }
  .team-stats {
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
 
    height:140px;
    width: 1130px;
    position: relative;
    border-color: black;
    border-bottom: 30px;

   top: -600px;
    
    left: 430px;
  }
  .stats-1{
position: absolute;
top: 45;
left: 97;
font-size: 30px;
  }
  .stats-2{
position: absolute;
top: 45;
left: 268;
font-size: 30px;
  }
  .stats-Played {
    position:absolute ;
    top: 80;
    left: 27;
    font-size: 22px;
  }

 
  .info{
    text-align: left;
    background-color: white;
    width: 340px;
border-radius: 0px;
    height: 100%;
   
    margin-left: 5px;
    
  }
  .info h2{
    font-size: 24px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .info span {
    text-align: left;
    padding-top: 20px;
    margin-bottom:20px ;
    margin-left: 5px;
    font-weight: 300;
    font-size: 17px;
  }
  .info span p{
    position: absolute;
    padding-left: 40px;
    font-size: 20px;
    
  }

  .fa-regular fa-futbol{
    position: absolute;
    
  }

  .line-1 {
    border-left: 3px solid rgb(203, 157, 203);
height: 100%;
position: absolute;
top: 0;
left: 226;
}
.line-2{
border-left: 3px solid rgb(203, 157, 203);
height: 100%;
position: absolute;
top: 0;
left: 355;
}
.stats-wins {
    position:absolute ;
   top: 80;
    left: 262;
    font-size: 22px;
  }
 
.line-3{
border-left: 3px solid rgb(203, 157, 203);
height: 100%;
position: absolute;
top: 0;
left: 535;
}
.stats-3 {
position: absolute;
top: 45;
left: 436;
font-size: 30px;
}
.stats-losses{
    position:absolute ;
    top: 80;
    left: 409;
    font-size: 22px;
  }
.line-4{
border-left: 3px solid rgb(203, 157, 203);
height: 100%;
position: absolute;
top: 0;
left: 860;
}
.stats-4{
position: absolute;
top: 45;
left: 680;
font-size: 30px;
}
.stats-5{
position: absolute;
top: 45;
left: 974;
font-size: 30px; 
}
.stats-clean-sheets{
position:absolute ;
top: 80;
    left: 925;
    font-size: 22px;
}
.stats-Goals-conceeded{
    position:absolute ;
    top: 80;
    left: 610;
    font-size: 22px;
  }
.stadium-name{
font-size: 26px;
margin-top: 0px;
}
.stadium-name img{
  width: 40px;
}

.stadium-namee{
  position: absolute;
  font-size: 28px;

  display: flex;
}
.stadium-namee p{
  position: absolute;
  left:140;
  top: 5;
  font-weight: 500;
}
.stadium-namee img{
  font-size: 26px;
margin-right: 15px;
  display: flex;
  width: 30px;
}
.stadium-name2{
  left: 490;
  bottom: 755;
  position: absolute;
  display: flex;
}
.stadium-name2 img{
width: 40px;
height: auto;
top: 10;


}
.stadium-name2 p{
  position: relative;
  top: 4;
  left: 13;
  font-size:30px ;
  color: white;
  font-weight: 500;
}
.league-name2{
  left: 500;
  bottom: 110;
  position: absolute;
  display: flex;
}
.league-name2 img{
width: 30px;

}
.league-name2 p{
  
  position: relative;
  top: 0;
  left: 20;
  font-size:16px ;
  color: white;
  font-weight: 400;
}
.Recent-form2{
  left: 500;
  bottom: 70;
  position: absolute;
  display: flex;
}
.Recent-form2 img{
width: 30px;

}
.Recent-form2 p{
  position: relative;
  top: 0;
  left: 20;
  font-size:16px ;
  color: white;
  font-weight: 400;
}





.swiper {
  width: 390px;
  height: 440px;
  margin-top: 110px;
  margin-left: 30px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
    background-image: url(images/cool-background\ \(2\).png);
}

.swiper-slide {

}




.player-card-background{
  position: relative;
  height: 300px;
 
}
.player-card img{
  position: absolute;
  bottom: 225px;
  left: 96px;
}
.player-card h3 {
  position: absolute;
  bottom: 345px;
  left: 8px;
  font-size: 40px;
  color: #11101d;
}
.player-card h5 {
  position: absolute;
  bottom: 305px;
  left: 9px;
  font-size: 24px;
  color: #11101d;
}
.player-card h2 {
  position: absolute;
  bottom: 155px;
  left: 117px;
  font-size: 28px;
  font-size: 29px;
}
.player-card .player-card-flagLogo {
  position: absolute;
  bottom: 255px;
  left: 13px;
  font-size: 28px;
  width: 50px;
  height: auto;
}
.player-card .player-card-teamLogo {
  position: absolute;
  bottom: 205px;
  
  left: 13px;
  font-size: 28px;
  width: 40px;
  height: auto;
}

.player-card-image{

  position: absolute;
  top: 41px;
  bottom: 0px;
  width: 200px; 
  height: auto;
  mix-blend-mode: multiply;

}
.container2 {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 0px;
padding-left: 0px;

}

.section {
  width: 200px;
  padding: 0px;
 height: 150px;
}
.section h2{
  margin-top:10px;
}
.top-scorers-standings{
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: apples; 
}

.scorersList::before{
  position: absolute;
  margin-top: -2px;
  margin-left: 20px;
  content: counter(apples);
  counter-increment: apples;
  font-family: sans-serif;
  color: pink;
  font-weight: bold;
  font-size: 32px;
}
.goal-standings-line{
  margin-top: 16px; 
  height: 1px;
  color: gray;
background-color: gray;
border: 0;
   width: 96%;
 margin-left: 25px;
}

.player-standings-info{
  display: flex;

}
.player-standings-info h3{
  margin-top: 10px;
  color: #fff;
}

.player-standings-info-player{
  margin-left: 85px;
}


.player-standings-info-team{
  margin-left: 250px;
}

.player-standings-info-nationality{
  margin-left: 186px;
}

.player-standings-info-stat{
  margin-left: 303px;
 
}
.player-standings-info-position{
  margin-left: 152px;
}
.league-standings-fixtures{
  display: flex;


}
.league-standings-fixtures h3 {
  font-size: 25px;
  font-weight: 600;
  
}
.league-standings-fixtures img {
  
  
}
.fixtures-home-logo{
  position: relative;
  left: 340px;
  width: 50px;
  height: auto;

top: 26px;

}
.fixtures-home{
  position: relative;
  top: -14px;
  left: 90px;

}
.fixtures-away-logo{
  position: absolute;
  left: 620px;
  width: 50px;
  height: auto;
  margin-top: -53px;
}
.fixtures-away{
  position: absolute;
  left: 720px;
  margin-top: -40px;
}
.square {
  height: 60px;
  width: 100px;
  margin-top: -56px;
  background-color: transparent;
  border: 2px solid black;
  position: absolute;
  left: 485px;
}
.square p{
  position: absolute;
margin-left: 17px;
margin-top: 12px;
}
.recent-fixtures-scoreboard{
  background-color: transparent;
  border: 2px solid black;
  width: 88px;
  height: 60px;
  display: flex;
  position: relative;
  bottom: 22px;
  left: 245px;
}
.recent-fixtures-scoreboard p{
  position: relative;
  font-size: 30px;
  margin: auto;

}

.league-standings-recent-fixtures img {
  width: 50px;
height: auto;
}

.recent-fixtures-home {
  width: 100px;
  position: absolute;
  margin-left: 10px;
  margin-top: 45px;
  margin-right: 16px;
}
.recent-fixtures-away-img {
  width: 50px;
  height: auto;
position: absolute;
left: 420px;
margin-top: -80px;
}
.goals-away {
 
  right: 4px;
}
/* .recent-fixtures-scoreboard{
  position: relative;
margin-left: 427px;
top: 46px;
width:100px;
} */
.search-Recent-fixtures-away{
position: absolute;
  top: 60px;
margin-right: 0px;
left: 72px;
}
.recent-fixtures-home-img{
  width: 50px;
  height: auto;
  position: relative;
  top: 37px;
  left: 165px;
  bottom: 0px;
}
.recent-fixtures-away{
position: absolute;
  left: 490px;
margin-top:-70px ;
  
  
  
}
.recent-fixtures-venue-icon{
  position: absolute;
  left: 1060px;
  margin-top: -85px;
  width: 50px;
  height: auto;

}
.recent-fixtures-venue{
  font-size: 20px;
  margin-top: 0px;
  bottom: 70px;
  position: relative;
  left: 1070px;

}

.upcoming-fixtures-venue-icon{
  position: absolute;
  left: 1060px;
  margin-top: -55px;
  width: 50px;
  height: auto;

}
.upcoming-fixtures-venue-name{
  font-size: 20px;
  margin-top: 0px;
  bottom: 42px;
  position: relative;
  left: 1070px;

}
.recent-fixtures-league{
  position: absolute;
  left: 1665px;
  margin-top: 0px;
 
  font-size: 20px;
}
.recent-fixtures-league-img{
  position: absolute;
  left: 1750px;
  margin-top: -105px;
  height: auto;
}
.vertical-line{
  border-left: 3px solid gray;
  height: 40px;
  margin-left: 9px;
  margin-top: 7px;
  margin-right: 10px;
}
.vertical-line2{
  border-left: 3px solid gray;
  height: 40px;
padding: 8px;
margin-left: 15px;
  margin-top: -7px;

}
.class{
position: absolute;
right: 50px;
}
.class2{
position: absolute;
left: 50px;
}

.lds-hourglass {

display:none;
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 400px;
  margin-left: 900px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}
.lds-hourglass.show{
 display: inline-block;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
